In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import csv

# Study data files
physical_activity_path = "Data/Physical_activity.csv"
suicide_path = "Data/Suicide.csv"
depression_by_state_path = "Data/Adults_depression_by_state_S.csv"
depression_by_ethnicity_path = "Data/Adults_depression_by_ethnicity_S.csv"

In [2]:
# Read the data and store into Pandas DataFrame
physical_activity = pd.read_csv(physical_activity_path)

# Display the data table for preview
physical_activity.head()

,Year,LocationAbbr,Location,Question,Data_Value,Low_Confidence,High_Confidence,Sample_Size,Age(years),Gender,Race/Ethnicity
0,2020,US,National,Percent of adults who engage in no leisure-tim...,30.6,29.4,31.8,31255.0,NaN,NaN,Hispanic
1,2015,US,National,Percent of adults who achieve at least 300 min...,26.6,25.6,27.6,30904.0,NaN,NaN,NaN
2,2015,GU,Guam,Percent of adults who achieve at least 150 min...,27.4,18.6,38.5,125.0,NaN,NaN,Hispanic
3,2015,PR,Puerto Rico,Percent of adults who engage in no leisure-tim...,38.1,32.6,43.8,421.0,NaN,NaN,NaN
4,2015,GU,Guam,Percent of adults who engage in no leisure-tim...,30.5,25.8,35.6,559.0,NaN,NaN,NaN

In [7]:
# Read the data
suicide = pd.read_csv(suicide_path)

# Display the data table for preview
suicide.head()

   YEAR STATE  RATE DEATHS
0  2020    AL  16.0    793
1  2020    AK  27.5    204
2  2020    AZ  17.6   1363
3  2020    AR  19.0    583
4  2020    CA  10.0   4144

In [8]:
# Read the data
depression_by_state = pd.read_csv(depression_by_state_path)

# Display the data table for preview
depression_by_state.head()

,Years,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Percent of adults with depression (%),0.18,0.18,0.19,0.19,0.19,0.17,0.21,0.20,0.20,0.20
1,By State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alabama (%),0.21,0.22,0.22,0.21,0.22,0.22,0.24,0.24,0.24,0.24
3,Alaska (%),0.17,0.17,0.16,0.16,0.16,0.14,0.19,0.20,0.17,0.16
4,Arizona (%),0.18,0.19,0.18,0.19,0.19,0.17,0.19,0.17,0.17,0.17

In [9]:
# Read the data
depression_by_ethnicity = pd.read_csv(depression_by_ethnicity_path)

# Display the data table for preview
depression_by_ethnicity.head()

,Years,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Percent of adults with depression (%),0.18,0.18,0.19,0.19,0.19,0.17,0.21,0.20,0.20,0.20
1,By Race/Ethnicity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"American Indian or Alaskan Native, non...",NaN,NaN,NaN,NaN,0.27,0.28,0.28,0.26,0.26,0.27
3,"Asian, non-Hispanic (%)",NaN,NaN,NaN,NaN,0.08,0.09,0.11,0.10,0.08,0.10
4,"Black, non-Hispanic (%)",0.15,0.16,0.16,0.17,0.16,0.16,0.17,0.18,0.16,0.17

In [ ]:
# Combine the data into a single dataset